.icon {
    width: 64px;
    height: 64px;
    position: relative;
    border-radius: 100%;
    display: block;
    background-color: #131316;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 112px;
}



.icon::before {
    position: absolute;
    content: '';
    background-image: url(../../images/gradient.svg);
    width: 100%;
    height: 100%;
}


.countInfo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: rgba(19, 19, 22, 0.6);
}