.ingredient {
    max-width: 284px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    cursor: pointer;
}


.name {
    text-align: center;
}



.price {
    display: flex;
    justify-content: center;
}