.block {
    max-width: 600px;
    width: 100%;
}


.tabs {
    display: flex;
    flex-direction: row;
}



.list_items {
    list-style-type: none;
    max-height: 77vh /* calc(100vh - 168px - 40px - 56px - 75px) */;
    overflow-y: auto;
    padding: 0;
    margin: 0;
} 